@charset "UTF-8";

@media screen and (min-width: 566px) {
    .slide-box img{
        width: 300px;
    }
}

@media screen and (min-width: 992px){
    body{
        .abrir{
            display: none;
        }
        #nav_con{
            position: absolute;
            top: 0em;
        }
    }
}