/*
    FONTES:
    1-bubbly ; 2-buydog ; 3-cherry ; 4-cookie
    5-cute ; 6-game ; 7-futura ; 8-hact
    9-katto ; 10-kinder ; 11-lemon ; 12-mix
    13-monday ; 14-sunday ; 15-pat1 ; 16-pat2
    17-pw ; 18-sugar ; 19-vertical ; 20-comic 
    21-easy ; 22-grande ; 23-stone

*/

/*
    Reservei este canto para colocar a referenciacao 
    do lugar da noticia (naao esqueca! Quero trocar cor e fonte 
    de forma rapida, Obrigada morzin, vc ta fazendo um trabalho
    incrivel!TE AMO DEMAIS, sou muito grata por fazer isso por mim
    sabe, me da mais vontade de seguir, vc sempre me apoiando me da
    muita forca, obrigada.)
    :D
    te amo muito, e faco isso pq sei que vc tem potencial
*/

@font-face{
    font-family:'bubbly' ;
    src: url("Bubbly-Regular.ttf");
}
@font-face{
    font-family: 'buydog';
    src: url("Buydog.otf");
}
@font-face{
    font-family:'cherry' ;
    src: url("Cheeky Rabbit.ttf");
}
@font-face{
    font-family:'cookie' ;
    src: url("CookieMonster.ttf");
}
@font-face{
    font-family:'cute' ;
    src: url("Cute Dino.otf");
}
@font-face{
    font-family:'game' ;
    src: url("Game On_PersonalUseOnly.ttf");
}
@font-face{
    font-family:'futura' ;
    src: url("FuturaHandwritten.ttf");
}
@font-face{
    font-family:'hact' ;
    src: url("IHATCS__.TTF");
}
@font-face{
    font-family:'katto' ;
    src: url("Katto-PersonalUse.otf");
}
@font-face{
    font-family:'kinder' ;
    src: url("kindergarten.ttf");
}
@font-face{
    font-family:'lemon' ;
    src: url("Lemon Juice.otf");
}
@font-face{
    font-family:'mix' ;
    src: url("MixStitch.ttf");
}
@font-face{
    font-family:'monday' ;
    src: url("Monday Night.ttf");
}
@font-face{
    font-family:'sunday' ;
    src: url("Next Sunday.otf");
}
@font-face{
    font-family:'pat1' ;
    src: url("Patchwork Stitchlings Color.ttf");
}
@font-face{
    font-family:'pat2' ;
    src: url("Patchwork Stitchlings.ttf");
}
@font-face{
    font-family:'pw' ;
    src: url("PWDottedFont.ttf");
}
@font-face{
    font-family:'sugar' ;
    src: url("Sugar Cream.otf");
}
@font-face{
    font-family:'vertical' ;
    src: url("Vertically.otf");
}
@font-face{
    font-family:'comic' ;
    src: url("Comic_Andy.ttf");
}
@font-face{
    font-family:'easy' ;
    src: url("EasyOpenFace.ttf");
}
@font-face{
    font-family:'grande' ;
    src: url("Grande October Four (Regular) by Situjuh (7NTypes).otf");
}
@font-face{
    font-family:'stone' ;
    src: url("STONES.ttf");
}

.texto:nth-child(1){
    font-family: 'bubbly';
}
.texto:nth-child(2){
    font-family: 'buydog';
}
.texto:nth-child(3){
    font-family: 'cherry';
}
.texto:nth-child(4){
    font-family: 'cookie';
}
.texto:nth-child(5){
    font-family: 'cute';
}
.texto:nth-child(6){
    font-family: 'game';
}
.texto:nth-child(7){
    font-family: 'futura';
}
.texto:nth-child(8){
    font-family: 'hact';
}
.texto:nth-child(9){
    font-family: 'katto';
}
.texto:nth-child(10){
    font-family: 'kinder';
}
.texto:nth-child(11){
    font-family: 'lemon';
}
.texto:nth-child(12){
    font-family: 'mix';
}
.texto:nth-child(13){
    font-family: 'monday';
}
.texto:nth-child(14){
    font-family: 'sunday';
}
.texto:nth-child(15){
    font-family: 'pat1';
}
.texto:nth-child(16){
    font-family: 'pat2';
}
.texto:nth-child(17){
    font-family: 'pw';
}
.texto:nth-child(18){
    font-family: 'sugar';
}
.texto:nth-child(19){
    font-family: 'vertical';
}
.texto:nth-child(20){
    font-family: 'comic';
}
.texto:nth-child(21){
    font-family: 'easy';
}
.texto:nth-child(22){
    font-family: 'grande';
}
.texto:nth-child(23){
    font-family: 'stone';
}


